$vp-font-heading: "ys", -apple-system, BlinkMacSystemFont, sans-serif  !important;
$vp-font:  "ys", -apple-system, BlinkMacSystemFont, sans-serif  !important;
$vp-font-mono: "Fira Code" , "Consolas", monospace  !important;

$--vp-font-heading: "ys", -apple-system, BlinkMacSystemFont, sans-serif  !important;
$--vp-font:  "ys", -apple-system, BlinkMacSystemFont, sans-serif  !important;
$--vp-font-mono: "Fira Code" , "Consolas", monospace  !important;

body, h1, h2, h3, h4, h5, h6, p, span[property="headline"], div, a, ul, ol, li, table, th, td {
  font-family: $vp-font;
}

code, pre, kbd, samp {
  font-family: $vp-font-mono !important;
}